---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import TagButton from "../components/TagButton.tsx";
import DropdownButton from "../components/TagDropdown.tsx";
import styles from "../styles/custom98test.module.css";

const pageTitle = "My Astro Learning Blog";
const allPosts = Object.values(
  await import.meta.glob("./posts/*.md", { eager: true })
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle={pageTitle}>
  <div class="px-[120px]">
  <div class="flex justify-between items-end mb-[10px]">
    <h2 class="pt-[80px]">ALL POSTS</h2>

    <div class="tags justify-center">
      {
        tags.map((tag) => (
          <p>
            <TagButton tag={tag} client:visible />
          </p>
        ))
      }

      <select class="flex lg:hidden">
        <option selected>- by Tag -</option>
        {tags.map((tag) => <DropdownButton tag={tag} client:visible />)}
      </select>
    </div>
  </div>

  <div class="page-line blog"></div>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 text-center gap-4 px-[20px] md:px-[120px] py-[80px]"
  >
    {
      allPosts.map((post: any) => (
        <BlogPost
          class=""
          img={post.frontmatter.image.url}
          url={post.url}
          title={post.frontmatter.title}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
