---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---



<BaseLayout>

  <img src={frontmatter.image.url}>

  <div class="tags pt-[200px]">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <div class="flex justify-between items-end px-3">
    <h1 class="text-4xl tracking-tight">{frontmatter.title}</h1>
    <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  </div>
  <hr class="gradient-hr mt-1">



  <p class="px-3 pb-[50px]"><em>{frontmatter.description}</em></p>

  <slot/>

</BaseLayout>
<style>
  a {
    color: #4841cc;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.4em;
    padding: 0.5em .5em;
    font-size: 15px;
    background-color: #f8fcfd;
  }
</style>
